@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Playfair+Display&family=Raleway&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #e3e4e5;
}

/* Header */

/* Redes Sociales */

.social-bar {
  position: fixed;
  right: 0;
  top: 200px;
  z-index: 2000;
}

.social-bar ul {
  list-style: none;
}

.social-bar ul li a{
  display: inline-block;
  color: #fff;
  font-size: 1.5rem;
  padding: 5px 10px;
  text-decoration: none;
}

.social-bar ul li .Fb {
  background: #3b5998;
}

.social-bar ul li .Tw {
  background: #00abf0;
}

.social-bar ul li .Insta {
  background: linear-gradient(to bottom left, #8A2BE2, #FF1493, #FFD700);
}

.social-bar ul li .YT {
  background: #FF0000;
}

@media screen and (max-width: 800px) {
  .social-bar {
    display: none;
  }
}

/* end Redes Sociales */

/* Banner */

.banider {
  height: 30vw;
  width: 100%;
  background: url(/imagenes/02-banner/banner-40d-1.jpg) no-repeat center / cover;
  overflow: hidden;
  position: relative;
}

/* End Banner */

/* Menú Barra */

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.main {
  position: sticky;
  top: 0px;
  background-color: #04043f;
  width: 100%;
  z-index: 1000;
}

.container {
  max-width: 80rem;
  padding: 15px 2rem;
  height: 5rem;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.logo-container {
  flex: 1;
  display: flex;
  align-items: center;
}

.nav-btn {
  flex: 3;
  display: flex;
}

.nav-links {
  flex: 2;
}

.nav-links > ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-link {
  position: relative;
}

.nav-link > a {
  line-height: 3rem;
  color: #fff;
  padding: 0 1.2rem;
  letter-spacing: 1px;
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: 0.5s;
  text-transform: uppercase;
  cursor: pointer;
}

.nav-link > a > i {
  margin-left: 0.2rem;
}

.nav-link:hover > a {
  transform: scale(1.3);
  background: rgba(153, 153, 153, 0.12);
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 10rem;
  transform: translateY(10px);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.dropdown ul {
  position: relative;
}

.dropdown-link > a {
  display: flex;
  background-color: #1d1d86;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  align-items: center;
  transition: 0.3s;
  text-transform: uppercase;
}

.dropdown-link:hover > a {
  background-color: #030324;
  color: #fff;
}

.dropdown-link:not(:nth-last-child(2)) {
  border-bottom: 1px solid #fff;
}

.dropdown-link i {
  transform: rotate(-90deg);
}

.arrow {
  position: absolute;
  width: 11px;
  height: 11px;
  top: -5.5px;
  left: 32px;
  background-color: #1d1d86;
  transform: rotate(45deg);
  cursor: pointer;
  transition: 0.3s;
  z-index: -1;
}

.dropdown-link:first-child:hover ~ .arrow {
  background-color: #030324;
}

.dropdown-link {
  position: relative;
}

.dropdown .second {
  top: 0;
  left: 100%;
  padding-left: 0.8rem;
  cursor: pointer;
  transform: translateX(10px);
}

.dropdown.second .arrow {
  top: 10px;
  left: -5.5px;
}

.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown {
  transform: translate(0, 0);
  opacity: 1;
  pointer-events: auto;
}

.hamburger-menu-container {
  flex: 1;
  display: none;
  align-items: center;
  justify-content: flex-end;
}

.hamburger-menu {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger-menu div {
  width: 1.6rem;
  height: 3px;
  border-radius: 3px;
  background-color: #fff;
  position: relative;
  z-index: 1001;
  transition: 0.5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #fff;
  border-radius: 3px;
  transition: 0.5s;
}

.hamburger-menu div:before {
  transform: translateY(-7px);
}

.hamburger-menu div:after {
  transform: translateY(7px);
}

#check {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  width: 2.5rem;
  height: 2.5rem;
  z-index: 90000;
  cursor: pointer;
  opacity: 0;
  display: none;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div {
  background-color: transparent;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:before {
  transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:after {
  transform: translateY(0) rotate(45deg);
}

@keyframes animation {
  from {
    opacity: 0;
    transform: translateY(15px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 920px) {
  .hamburger-menu-container {
    display: flex;
  }

  #check {
    display: block;
  }

  .nav-btn {
    position: fixed;
    height: calc(100vh - 3rem);
    top: 3rem;
    left: 0;
    width: 100%;
    background-color: #04043f;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateX(100%);
    transition: 0.65s;
  }

  #check:checked ~ .nav-btn .nav-link,
  #check:checked ~ .nav-btn {
    animation: animation 0.5s ease forwards;
  }

  #check:checked ~ .nav-btn {
    transform: translateX(0);
  }

  .nav-links {
    flex: initial;
    width: 100%;
  }

  .nav-links > ul {
    flex-direction: column;
  }

  .nav-link {
    width: 100%;
    opacity: 0;
    transform: translateY(15px);
  }

  .nav-link > a {
    line-height: 1;
    padding: 1.6rem 2rem;
  }

  .nav-link:hover > a {
    transform: scale(1);
    background-color: #030324;
  }

  .dropdown,
  .dropdown.second {
    position: initial;
    top: initial;
    left: initial;
    transform: initial;
    opacity: 1;
    pointer-events: auto;
    width: 100%;
    padding: 0;
    background-color: #030324;
    display: none;
  }

  .nav-link:hover > .dropdown,
  .dropdown-link:hover > .dropdown {
    display: block;
  }

  .nav-link:hover > a > i,
  .dropdown-link:hover > a > i {
    transform: rotate(360deg);
  }

  .dropdown-link > a {
    background-color: transparent;
    color: #fff;
    padding: 1.2rem 2rem;
    line-height: 1;
  }

  .dropdown.second .dropdown-link > a {
    padding: 1.2rem 2rem 1.2rem 3rem;
  }

  .dropdown.second .dropdown.second .dropdown-link > a {
    padding: 1.2rem 2rem 1.2rem 4rem;
  }

  .dropdown-link:not(:nth-last-child(2)) {
    border-bottom: none;
  }

  .arrow {
    z-index: 1;
    background-color: #1d1d86;
    left: 10%;
    transform: scale(1.1) rotate(45deg);
    transition: 0.5s;
  }

  .nav-link:hover .arrow {
    background-color: #1d1d86;
  }

  .dropdown .dropdown .arrow {
    display: none;
  }

  .dropdown-link:hover > a {
    background-color: #04043f;
  }

  .dropdown-link:first-child:hover ~ .arrow {
    background-color: #1d1d86;
  }

  .nav-link > a > i {
    font-size: 1.1rem;
    transform: rotate(-90deg);
    transition: 0.7s;
  }

  .dropdown i {
    font-size: 1rem;
    transition: 0.7s;
  }
}

/* end Menú Barra */

/* First box */

.firstBox {
  width: 90%;
  margin: 3rem auto;
  padding: 2rem;
  background-color: #ffffff;
}

/* Noticias */

.cont-aviso {
  margin: auto;
}

.cont-aviso .lineaBx h4 {
  padding-bottom: 10px;
  font-family: "Roboto Slab", sans-serif;
  font-size: 2rem;
}

.cont-aviso .lineaBx span {
  display: block;
  margin: 5px auto;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.6;
  letter-spacing: 3px;
}

.cont-aviso .lineaBx p {
  display: flex;
  place-content: center;
  font-size: x-large;
  text-decoration: underline;
  color: #050505;
  opacity: 1;
}

.cont-aviso .lineaBx .text-bx a {
  text-align: center;
  display: block;
  margin-top: 1rem;
  color: #050505;
}

.cont-aviso .lineaBx .text-bx a:hover {
  text-decoration: underline;
}

.cont-aviso .lineaBx p:hover {
  opacity: 0.5;
}

.cont-aviso .lineaBx .img-bx {
  position: relative;
  display: block;
  width: 40vw;
  height: 100%;
  margin: auto;
}

.cont-aviso .lineaBx .img-bx img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 800px){
  .cont-aviso .lineaBx h4 {
    font-size: 1.3rem;
    margin: 0rem auto;
  }
  .cont-aviso .lineaBx .img-bx {
    width: 300px;
  }
  .cont-aviso .lineaBx .text-bx a {
    margin-top: 1rem;
  }
}

/* Seccion Noticias */

.bttnsBx {
  margin-bottom: 1rem;
  display: block;
}

.widgetsBx {
  display: flex;
  place-content: space-evenly;
  align-items: center;
}

.widgetsBx .widget {
  position: relative;
  width: 300px;
  height: 150px;
  overflow: hidden;
  margin-bottom: 10px;
}

.widgetsBx .widget img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.containerBttnBx {
  position: relative;
  display: flex;
  place-content: space-evenly;
  align-items: center;
}

.containerBttnBx a {
  position: relative;
  width: 300px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-family: "Roboto Slab", sans-serif;
  margin: 5px;
  text-transform: uppercase;
  background: #4a4a4a;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
}

.containerBttnBx a span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 800;
  transition: 0s ease-in;
}

.containerBttnBx a:hover span {
  transition: 0.4s ease-in;
  transform: translateY(-100%);
}

.containerBttnBx a:before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 250px;
  background: #1d1d86;
  transition: 0.4s ease-in;
}

.containerBttnBx a:hover:before {
  bottom: -150px;
}

.containerBttnBx a:nth-child(1):before {
  bottom: 60px;
}

.containerBttnBx a:nth-child(1):hover:before {
  bottom: -40px;
}

.containerBttnBx a:nth-child(2):before {
  bottom: 60px;
}

.containerBttnBx a:nth-child(2):hover:before {
  bottom: -40px;
}

.containerBttnBx a:nth-child(3):before {
  bottom: 60px;
}

.containerBttnBx a:nth-child(3):hover:before {
  bottom: -40px;
}

@media screen and (max-width: 800px){
  .bttnsBx {
    grid-template-columns: repeat(1, 1fr);
  }

  .widgetsBx {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .containerBttnBx {
    display: grid;
    justify-content: center;
    align-items: center;
  }
}

/**/

.header-title {
	padding: 1rem 0;
  margin: 1rem auto;
  background-color: #1d1d86;
  text-align: center;
}

.header-title span {
  color: #fff;
  text-transform: uppercase;
  font-family: "Roboto Slab", sans-serif;
  font-size: x-large;
}

/**/

.contenido-noticias {
	margin: auto;
}

.noticias-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  place-content: center;
}

.post-img {
  transition: 0.2s;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: block;
  height: 18vw;
}

.post-img img {
  width: 100%;
  height: 100%;
  object-position: center;
}

.post {
  box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 20%);
  overflow: hidden;
  transition: 0.2s;
}

.post:hover {
  transform: scale(1.02);
}

.post-header {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.post-body {
  padding: 15px;
}

.post-body span {
  display: inline-block;
  font-size: small;
  color: #444;
  margin-bottom: 10px;
}

.post-body h2 {
  font-family: "Roboto Slab", sans-serif;
  text-align: center;
}

.post-body p {
  font-size: 0.85rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 1rem auto;
  text-align: left;
}

.post-body .post-link {
  color: #04043f;
  font-weight: bold;
}

@media screen and (max-width: 800px){
  .noticias-container {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
}

/* end Noticias */

/* Franja */

.franja-title {
  position: relative;
  text-align: center;
  width: 100%;
  background-color: #1d1d86;
  color: #fff;
  margin: 2rem auto;
  padding: 1rem 0;
}

.franja-title span {
  font-family: "Roboto Slab", sans-serif;
  font-size: x-large;
  text-transform: uppercase;
}

/* end Franja */

/* Autoridades */

.autoridadesBx {
  background-color: #fff;
}

.contenedor-aut {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.container-vice {
  width: 100%;
  margin: 2rem auto;
  display: block;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  background-color: #dddddd;
  border-radius: 10px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 30%);
  display: flex;
  flex-direction: column;
  place-items: center;
}

.card-image {
  width: 180px;
  height: 180px;
  margin-top: 1rem;
  box-shadow: 0 15px 35px -15px rgba(0, 0, 0, 0.5),
  0 5px 20px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 50%;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.descriptionBx {
  font-family: "Raleway", sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: medium;
}

.nameBx {
  margin-top: 20px;
  font-size: x-large;
  font-family: "Roboto Slab", sans-serif;
  color: #000;
  font-weight: bolder;
  margin-bottom: 10px;
}

@media screen and (max-width: 800px){
  .contenedor-aut {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* End Autoridades */

/* Diputados */

.post-slider {
  position: relative;
  background-color: #fff;
}

.post-slider .post-wrapper {
  overflow: hidden;
}

.post-slider .post-wrapper .post_legislador {
  width: 350px;
  height: 350px;
  display: inline-block;
}

.container-dipu {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 15px 0; */
}

.container-dipu .card-dipu {
  position: relative;
  width: 350px;
  height: 350px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-dipu .card-dipu .content-dipu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-dipu .card-dipu .content-dipu .imgBx-dipu {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 20%);
}

.container-dipu .card-dipu .content-dipu .imgBx-dipu img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-dipu .card-dipu .content-dipu .contentBx-dipu span {
  color: #050505;
  text-transform: uppercase;
  font-family: "Roboto Slab", sans-serif;
  font-weight: bolder;
  display: grid;
  place-content: center;
  font-size: 1.2rem;
  margin-top: 15px;
}

.container-dipu .card-dipu .content-dipu .contentBx-dipu small {
  font-size: 0.9rem;
  display: block;
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-weight: lighter;
  color: #050505;
  margin: 10px;
}

/* end Diputados */

/* Redes Sociales */

.redesocBx {
  background-color: #fff;
}

.socialsBx {
  margin: 0 auto;
}

.header-youtube {
  display: flex;
  place-items: center;
}

.header-youtube a {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  background-color: #ff0000;
  color: #fff;
  font-size: 2rem;
  font-family: "Roboto Slab", sans-serif;
}

.sesion-vivo {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 2rem;
  background-color: #fff;
}

.sesion-vivo span {
  display: block;
  padding: 1rem 0;
  color: #050505;
  font-weight: 300;
}

iframe {
  width: 100%;
  height: 100%;
}

.video{ 
  box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 20%);
  width: 370px;
  height: 220px;
}

.contvideos {
  margin: auto;    
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 2rem;
}

.header-twitter {
  display: flex;
  place-items: center;
}

.header-twitter a {
  position: relative;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  background-color: #0f1419;
  color: #fff;
  font-size: 2rem;
  font-family: "Roboto Slab", sans-serif;
}

.image-gallery {
  width: 100%;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.image-gallery .image-box {
  position: relative;
  overflow: hidden;
}

@media (max-width: 800px) {
  .header-youtube a {
    font-size: 1.789rem;
  }
  .header-twitter a {
    font-size: 1.789rem;
  }
  .image-gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* end Redes Sociales */

/* Footer */

.pie-pagina{
  width: 100%;
  background-color: #04043f;
}

.pie-pagina .grupo-1{
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
  width: 350px;
}

.pie-pagina .grupo-1 .box span{
  color: #fff;
  display: block;
  margin-bottom: 1rem;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}

.pie-pagina .grupo-1 .box p{
  color: #fff;
  margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  padding: 1rem;
  color: #fff;
  margin-right: 1rem;
  background: rgba(253, 251, 251, 0.05);
  text-align: center;
  border-radius: 5px;
  transition: 0.3s ease;
  /* font-size: 20px; */
}

.pie-pagina .grupo-1 .red-social a:hover{
  background: rgba(0, 0, 0, 0.25);
  transform: translateY(-10px);
}

.pie-pagina .grupo-2{
  background-color: #030324;
  padding: 8px 10px;
  text-align: center;
  color: #fff;
}

.pie-pagina .grupo-2 small{
  font-size: 15px;
}

@media screen and (max-width:800px){
  .pie-pagina .grupo-1{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

/* end Footer */

/* Arrow Up */

#button-up {
  width: 35px;
  height: 35px;
  background: #050505;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 35px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  border: 4px solid transparent;
  transition: all 300ms ease;
  transform: scale(0);
  z-index: 66775599;
}

#button-up:hover {
  transform: scale(1.1);
  border-color: rgba(0, 0, 0, 0.103);
}

/* end Button */
